/* pagination.css */
.pagination {
    display: flex;
    justify-content: center;
    padding-top: 10px;
    padding-bottom: 10px;
    list-style: none;
}

.pagination > li {
    margin: 0 5px;
    display: inline-block;
}

.pagination > li > span, .pagination > li > a {
    padding: 10px;
    border: 1px solid #ddd;
    text-decoration: none;
    color: #333;
}

.pagination > .active > span, .pagination > .active > a {
    background-color: #007BFF;
    color: #fff;
}
